#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.card {
	padding: 2em;
	margin-top: 40px;
}

button {
	padding: 0.6em 1.2em;
}

.card,
button,
input {
	will-change: filter;
	transition: filter 300ms;
}

input:focus {
	outline: none;
}

.card:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

button:hover,
input:focus {
	filter: drop-shadow(0 0 0.5em #646cffaa);
}
